[data-md-color-scheme = dark] {

    --md-hue: 220;

    --md-header-fg-color:                                                   #fff;
    --md-header-bg-color:                               var(--md-primary-fg-color);

    --md-default-fg-color:                                   rgba(0, 0, 0, 0.87);
    --md-default-fg-color--light:                 hsla(var(--md-hue),75%,90%,0.62);
    --md-default-fg-color--lighter:               hsla(var(--md-hue),75%,90%,0.32);
    --md-default-fg-color--lightest:              hsla(var(--md-hue),75%,90%,0.12);
    --md-default-bg-color:                                               #36393f;
    --md-default-bg-color--light:    hsla(var(--md-default-bg-color),15%,21%,0.54);
    --md-default-bg-color--lighter:  hsla(var(--md-default-bg-color),15%,21%,0.26);
    --md-default-bg-color--lightest: hsla(var(--md-default-bg-color),15%,21%,0.07);

    --md-primary-fg-color:                                  #376fa1;
    --md-primary-fg-color--dark:           var(--md-primary-fg-color);
    --md-primary-fg-color--darker:         var(--md-primary-fg-color);
    --md-primary-fg-color--darkest:        var(--md-primary-fg-color);

    --md-code-fg-color: hsla(var(--md-hue),18%,86%,1);
    --md-code-bg-color:                     #2f3136;
    --md-code-hl-color:       rgba(66,135,255,0.15);
    --md-code-hl-number-color:              #e6695b;
    --md-code-hl-special-color:             #f06060;
    --md-code-hl-function-color:            #f0c43f;
    --md-code-hl-constant-color:            #e08865;
    --md-code-hl-keyword-color:             #66a8e2;
    --md-code-hl-string-color:              #3bc07d;
    --md-code-hl-comment-color:             #97a0b2;
    --md-code-hl-name-color:        var(--md-code-fg-color);
    --md-code-hl-operator-color:    var(--md-code-fg-color);
    --md-code-hl-punctuation-color: var(--md-code-fg-color);
    --md-code-hl-generic-color:     var(--md-code-fg-color);
    --md-code-hl-variable-color:    var(--md-code-fg-color);

    --md-nav-bg-color: var(--md-primary-fg-color);

    --md-typeset-color:                                        #fff;
    --md-typeset-a-color:                                   #f0c43f;
    --md-typeset-mark-color:                   rgba(66,135,255,0.3);
    --md-typeset-kbd-color:          hsla(var(--md-hue),15%,94%,0.12);
    --md-typeset-kbd-accent-color:    hsla(var(--md-hue),15%,94%,0.2);
    --md-typeset-kbd-border-color:      hsla(var(--md-hue),15%,14%,1);
    --md-typeset-table-color:        hsla(var(--md-hue),75%,95%,0.12);

    --md-accent-fg-color:                #66a8e2;
    --md-accent-fg-color--transparent:   #66a8e2;
    --md-accent-bg-color:                #ffffff;
    --md-accent-bg-color--light:         #ffffff;

    --md-admonition-bg-color:       hsla(var(--md-hue),0%,100%,0.025);
    --md-admonition-fg-color:                                  #fff;

    --md-footer-fg-color:                     var(--md-typeset-color);
    --md-footer-bg-color:            hsla(var(--md-hue),15%,12%,0.87);
    --md-footer-bg-color--dark:         hsla(var(--md-hue),15%,10%,1);
}