[data-md-color-scheme = light] {

    --md-header-fg-color:                                      #fff;
    --md-header-bg-color:                  var(--md-primary-fg-color);

    --md-default-fg-color:                      rgba(0, 0, 0, 0.87);
    --md-default-fg-color--light:               rgba(0, 0, 0, 0.54);
    --md-default-fg-color--lighter:             rgba(0, 0, 0, 0.32);
    --md-default-fg-color--lightest:            rgba(0, 0, 0, 0.07);
    --md-default-bg-color:                   rgba(242, 242, 242, 1);
    --md-default-bg-color--light:         rgba(242, 242, 242, 0.54);
    --md-default-bg-color--lighter:       rgba(242, 242, 242, 0.26);
    --md-default-bg-color--lightest:      rgba(242, 242, 242, 0.07);
  
    --md-primary-fg-color:                                  #376fa1;
    --md-primary-fg-color--dark:           var(--md-primary-fg-color);
    --md-primary-fg-color--darker:         var(--md-primary-fg-color);
    --md-primary-fg-color--darkest:        var(--md-primary-fg-color);
  
    --md-code-fg-color: hsla(var(--md-hue),18%,86%,1);
    --md-code-bg-color:          rgb(227, 229, 232);
    --md-code-hl-color:       rgba(66,135,255,0.15);
    --md-code-hl-number-color:              #e64e3e;
    --md-code-hl-special-color:             #ec477e;
    --md-code-hl-function-color:            #b245c5;
    --md-code-hl-constant-color:            #6a56ce;
    --md-code-hl-keyword-color:             #4f82e0;
    --md-code-hl-string-color:              #269c61;
    --md-code-hl-name-color:                  var(--md-code-fg-color);
    --md-code-hl-operator-color:    var(--md-default-fg-color--light);
    --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
    --md-code-hl-comment-color:     var(--md-default-fg-color--light);
    --md-code-hl-generic-color:     var(--md-default-fg-color--light);
    --md-code-hl-variable-color:    var(--md-default-fg-color--light);
  
    --md-nav-bg-color: var(--md-primary-fg-color);
  
    --md-typeset-color:                    var(--md-default-fg-color);
    --md-typeset-a-color:                                   #376f9f;
    --md-typeset-mark-color:                   rgba(66,135,255,0.3);
    --md-typeset-kbd-color:          hsla(var(--md-hue),15%,94%,0.12);
    --md-typeset-kbd-accent-color:    hsla(var(--md-hue),15%,94%,0.2);
    --md-typeset-kbd-border-color:      hsla(var(--md-hue),15%,14%,1);
    --md-typeset-table-color:        hsla(var(--md-hue),75%,95%,0.12);
  
    --md-accent-fg-color:                #66a8e2;
    --md-accent-fg-color--transparent:   #66a8e2;
    --md-accent-bg-color:                #ffffff;
    --md-accent-bg-color--light:         #ffffff;
  
    --md-admonition-bg-color:                    rgb(242, 243, 245);
    --md-admonition-fg-color:                                  #000;
  
    --md-footer-fg-color:                  var(--md-default-fg-color);
    --md-footer-bg-color:                        rgb(227, 229, 232);
    --md-footer-bg-color--dark:     var(--md-default-fg-color--light);
  
}